/* Styles.css */
/* DAFTAR ISI*/
/* 
1. LANDING PAGE/ HOME
2. BANNER
3. APPBAR
4. HEADER
5. RESET PASSWORD



00. FOOTER CSS
*/




/*LANDING PAGE/ HOME*/
.MarginTB{ /* Margin Top Bottom untuk jarak antara konten*/
  margin-top: 50px !important;
  margin-bottom: 20px !important;
}
.greenColor{
  background-color: #226957;

}

.yellowColor{
  background-color: #ea9e1f;

}
.FooterBottom {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh; /* Ini untuk mengisi seluruh tinggi viewport */
}

.link-no-underline {
  text-decoration: none !important;
  color: inherit;
}

.reduceGap{
  margin-bottom: -90vh;
}
/*BANNER*/


.PicBox{/* banner di first section*/
  background-image: url('../images/image_3.png');
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 294px;
  padding-top: 25px;
  padding-bottom: 25px;  
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px !important;
  margin-bottom: 10px !important;
  
}
/* Define default styles */
.headline { /* banner di Fifth section*/
  font-size: 32px;
}

.description {
  font-size: 24px;
}

.yellowPicBox {
  background-color: #ea9e1f;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.yellowPicBoxText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.centered-text {
  display: flex;
  flex-direction: column;
}

.centered-image {
  display: flex;
  align-items: center;
}

.centered-image img {
  margin-left: auto !important;
  width: 340.49px;
  height: auto;
}


.image-container {
  position: relative;
}

.front-image {
  position: relative;
  scale:inherit;
  width:"340.49px !important";
  z-index: 1;
}

.behind-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.bRadius{
  border-radius: 16px !important;
}

.ProdCardContent{
  align-items:flex-end;
}

.flag-image {
  height: 140px !important; /* Set the desired height for the images */
  width: auto !important; 
  padding-top: 20px;
}


/* Add more media queries as needed for other breakpoints */


/* APPBAR */
/* Make the AppBar full width */
header .full-width-app-bar {
  width: 100%;
  background-color: white;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh; /* Ini untuk mengisi seluruh tinggi viewport */
}

.content-wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  height: 100vh; /* Ini untuk mengisi seluruh tinggi viewport */
}
@media (max-width: 480px) {
  /* Sesuaikan lebar tombol untuk perangkat seluler */
  .ContainerMargin {
    margin-top: 20px; /* Kurangi lebar untuk layar ponsel */
  }
}
/*AFTER LOGIN*/
.buttonAppBar{
  color: #226957 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.buttonAppBarAccount{
  color: #226957 !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  padding: 10px !important;
}

.buttonLogout{
 color: red !important;
}

/* Gaya untuk tombol kustom */
header .custom-button {
  color: white;
  border-radius: 8px; /* Sesuaikan border-radius sesuai kebutuhan */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px; /* Lebar tombol tetap untuk layar yang lebih besar */
}

@media (max-width: 768px) {
  /* Sesuaikan lebar tombol untuk tablet */
  header .custom-button {
    padding: 10px 15px; /* Kurangi lebar untuk layar tablet */
  }
  .bannerBox{
    height: 25vh;
  }
}

@media (max-width: 480px) {
  /* Sesuaikan lebar tombol untuk perangkat seluler */
  header .custom-button {
    padding: 10px 10px; /* Kurangi lebar untuk layar ponsel */
    font-size: smaller;
  }

  .bannerBox{
    min-height: 10vh;
  }
}
@media (max-width : 1080) {
  .bannerBox{
    min-height : 25vh;
  }
}
.bannerBox{
  background-Image:url(../images/english.png);
  background-repeat : no-repeat;
  background-position : center;
  background-size : cover;
  min-height: 295px;
  width : 100%
}

header .custom-button-green {
  background-color: #226957;
  color: white;
  border-radius: 8px; /* Adjust the border-radius as needed */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
}

header .custom-button-yellow {
  background-color: #ea9e1f;
  color: white;
  border-radius: 10px; /* Adjust the border-radius as needed */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  /* Sesuaikan lebar tombol untuk tablet */
  header .custom-button-green,
header .custom-button-yellow {
    padding: 10px 15px; /* Kurangi lebar untuk layar tablet */
  }
}

@media (max-width: 480px) {
  /* Sesuaikan lebar tombol untuk perangkat seluler */
  header .custom-button-green,
header .custom-button-yellow {
    padding: 10px 10px; /* Kurangi lebar untuk layar ponsel */
    font-size: smaller;
  }
}

/* Hover effect */
header .custom-button-green:hover,
header .custom-button-yellow:hover {
  background-color: black;
  
}

/*RESET PASSWORD*/

/* Default button styles */
.custom-button-reset-yellow, .custom-button-reset-green {
  color: white;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px; /* Default button width */
}

/* Adjust button styles for tablets */
@media (max-width: 768px) {
  .custom-button-reset-yellow, .custom-button-reset-green {
    padding: 10px 15px; /* Reduce button width for tablets */
  }
}

/* Adjust button styles for mobile devices */
@media (max-width: 480px) {
  .custom-button-reset-yellow, .custom-button-reset-green {
    padding: 10px 10px; /* Reduce button width for mobile devices */
  }
}

/* Hover effect */
.custom-button-reset-yellow:hover, .custom-button-reset-green:hover {
  background-color:  black !important;
}

/*FOOTER CSS */
.footerCSS {
  background-color: #226957;
  position:absolute !important;
  color: white !important;
  text-align: justify !important;
  width: 100% !important;
  justify-content: center !important; /* Center the content horizontally */
  align-items: center !important; /* Center the content vertically */
  padding: 25px !important;
}

.round-icon {
  background-color: white;
  border-radius: 50%;
  width: 50px; /* Adjust the width and height as needed to control the size */
  height: 50px; /* Same as the width for a circular shape */
  display: flex;
  justify-content: center; /*Bikin tengah di horizontal*/
  align-items: center; /* Tengah di Vertikal */
  margin-right: 5px; /* Add spacing between icons if desired */
}



body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}


/* Checkout */
.imgSize{
  width: 200px !important;
  height: auto !important;
}

.TotalPrice{
  color: #226957;
  font-weight: bold !important;
}

.marginTopCheckout{
  margin-top: 100px !important;
}
