/* Styles.css */

/* Make the AppBar full width */
header .full-width-app-bar {
  width: 100%;
  background-color: transparent;
}

.letsjoin {
  /* Lets Join */

  width: 108px;
  height: 29px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  /* Primary */
  color: #226957;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Style for custom buttons */
header .custom-button {
  color: white;
  border-radius: 10px; /* Adjust the border-radius as needed */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px;
}

header .custom-button-green {
  background-color: #226957;
  color: white;
  border-radius: 10px; /* Adjust the border-radius as needed */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
}

header .custom-button-yellow {
  background-color: #ea9e1f;
  color: white;
  border-radius: 10px; /* Adjust the border-radius as needed */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
}

/* Hover effect */
header .custom-button-green:hover,
header .custom-button-yellow:hover {
  background-color: black;
}
